{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password | Hop & Barley{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
    <div class="auth-background">
        <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'img/background/pattern.jpg' %}"
             alt="Background pattern">
    </div>
    <div class="auth-form-container">
        <div class="auth-container auth-container--register">
            <div class="Legend">
                <h1 class="auth-title">Forgot Password</h1>
            </div>


            <form class="auth-form" id="forgot-password-form" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="form-errors">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <div class="error-message">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="InputField">
                    <label for="{{ form.email.id_for_label }}">Email Address</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="ButtonGroup">
                    <button style="margin-bottom: 8px;" type="submit" class="button button--primary">
                        Reset Password
                    </button>
                    <a  href="{% url 'users:login' %}" class="button button--secondary">
                        Cancel
                    </a>
                </div>
            </form>

            <p class="auth-switch">Remember your password? <a href="{% url 'users:login' %}">Sign in</a></p>
        </div>
    </div>
</main>
{% endblock %}