{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Hop & Barley{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
    <div class="auth-background">
        <img src="{% static 'img/background/pattern.jpg' %}"
             alt="Background pattern">
    </div>
    <div class="auth-form-container">
        <div class="auth-container auth-container--register">
            <div class="Legend">
                <h1 class="auth-title">Sign In</h1>
            </div>


            <form class="auth-form" id="login-form" method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}

                {% if form.errors %}
                    <div class="form-errors">
                        <div class="error-message">Please enter a correct email and password.</div>
                    </div>
                {% endif %}

                <div class="InputField">
                    <label for="{{ form.username.id_for_label }}">Email</label>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="InputField">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="InputField">
                    <div class="checkbox-container">
                        <input type="checkbox" name="remember_me" value="on" checked id="remember_me">
                        <span class="checkbox-label">Remember me</span>
                    </div>
                </div>

                <div class="ButtonGroup">
                    <button type="submit" class="button button--primary">
                        Sign In
                    </button>
                </div>
            </form>

            <div class="auth-links">
                <p><a href="{% url 'users:forgot_password' %}">Forgot password?</a></p>
                <p class="auth-switch">Don't have an account? <a href="{% url 'users:register' %}">Sign up</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}